KERNEL=="eth*", ACTION=="add", RUN+="/usr/local/koboserver/udev_server.sh"
KERNEL=="wlan*", ACTION=="add", RUN+="/usr/local/koboserver/udev_server.sh"

